body{
  width:100%;
}
h1{
  margin-top:60px;
  margin-bottom:10px;
}
h2{
  margin-top:10px;
  margin-bottom:10px;
}
h3{
  margin-top:10px;
  margin-bottom:10px;
}
#details{
  padding:10px;
  width:600px;
  overflow:visible;
}
.detail-div{
  clear:both;
}
.last{
  clear:both;
}
.detail-label{
  width: 200px;
  float:left;
  font-weight:bold;
}
.detail-wert{
  width: 400px;
  float:left;
}
.error-notification {
  color: red;
}
vaadin-grid,
vaadin-button{
  cursor:pointer;
}
.login{
  position:absolute;
  right:40px;
  top:10px;
  background-color: #eee;
}

/* Nav-Styles */
.mainnav{
  z-index:10;
  position:fixed;
  right:0;
  left:0;
  top:-16px;
  width:100%;
  background-color: #eee;
  padding-left:35px;
}
.mainnav a{
  padding: 20px 30px;
  color: #333;
  margin:0;
}
.mainnav a:hover{
  background-color: #ddd;
  text-decoration:none;
}